@{
    ViewBag.PageTitle = "Personal Toolbox - Account List";
}

<div class="row">
    <div class="col-12">
        <a href="CreateAccount">Create&nbsp;<i class="fa fa-plus-square"></i></a>
    </div>
</div>