@model WLVSTools.Web.ViewModels.PersonalToolbox.LottoViewModel

@{
    ViewBag.PageTitle = "Personal Toolbox - Lotto";
}

<form id="frmLotto" asp-action="Lotto" method="post">
    <div class="row mb-3">
        <div class="col-12 col-md-4">
            <label asp-for="LottoGame">Lotto Game</label>
            <select asp-for="LottoGame" class="form-control">
                <option value="0">All Games</option>
                <option value="18">Ultra Lotto 6/58</option>
                <option value="17">Grand Lotto 6/55</option>
                <option value="1">Super Lotto 6/49</option>
                <option value="2">Mega Lotto 6/45</option>
                <option value="13">Lotto 6/42</option>
                <option value="5">6D Lotto</option>
                <option value="6">4D Lotto</option>
                <option value="8">3D Lotto 11AM</option>
                <option value="9">3D Lotto 4PM</option>
                <option value="10">3D Lotto 9PM</option>
                <option value="15">2D Lotto 11AM</option>
                <option value="16">2D Lotto 4PM</option>
                <option value="11">2D Lotto 9PM</option>

            </select>
        </div>
        <div class="col-12 col-md-4">
            <label>Start Date</label>
            <div class="input-group">
                <select asp-for="StartMonth" class="form-control">
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>
                <select asp-for="StartDate" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>

                </select>
                <select name="StartYear" class="form-control">
                    <option value="2023">2023</option>
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>

                </select>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <label>End Date</label>
            <div class="input-group">
                <select asp-for="EndMonth" class="form-control">
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>
                <select asp-for="EndDate" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>

                </select>
                <select name="EndYear" class="form-control">
                    <option value="2023">2023</option>
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>

                </select>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <button id="btnSearchLotto" type="submit" class="btn btn-primary">Search Lotto</button>
            <button id="btnImportLottoToDB" type="submit" class="btn btn-primary">Import Lotto to DB</button>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-12">
        @Html.Raw(Model.HtmlStringOutput)
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $("#btnImportLottoToDB").on("click", function (e) {
                e.preventDefault();
                let frmLotto = $("#frmLotto");
                frmLotto.attr("action", "ImportLotto");
                frmLotto.submit();
            });
        });
    </script>
}