<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WLVS Tools</title>
    <bundle name="wwwroot/bundles/lib/bootstrap/dist/css/bootstrap.min.css" />
    <bundle name="wwwroot/bundles/css/site.min.css" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>