@model WLVSTools.Web.ViewModels.Accounts.LoginViewModel

@{
    Layout = "_LayoutAnonymous";
    ViewBag.PageTitle = "Login";
}

<div class="hold-transition login-page">
    <div class="login-box">

        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <span class="h1"><b>WLVS</b>Tools</span>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Sign in to start your session</p>
                <form asp-action="Login" method="post">
                    <div class="input-group mb-3">
                        <input asp-for="Email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Email"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Password"></span>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input asp-for="IsPersistent" type="checkbox" id="remember" value="true">
                                <label for="remember">
                                    Remember Me
                                </label>
                                <span asp-validation-for="IsPersistent"></span>
                            </div>
                        </div>

                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>

                    </div>
                </form>
                @if (Model.ExternalLogins != null && Model.ExternalLogins.Any(el => el.Name == "Google"))
                {
                    <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="~/Home">
                        <div class="social-auth-links text-center mt-2 mb-3">
                            @foreach (var externalLogin in Model.ExternalLogins)
                            {
                                if (externalLogin.Name == "Facebook")
                                {
                                    <button type="submit" name="Provider" value="@externalLogin.Name" class="btn btn-block btn-primary">
                                        <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                                    </button>
                                }

                                if (externalLogin.Name == "Google")
                                {
                                    <button type="submit" name="Provider" value="@externalLogin.Name" class="btn btn-block btn-danger">
                                        <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                                    </button>
                                }
                            }
                        </div>
                    </form>
                }

                <p class="mb-1">
                    <a href="ForgotPassword">I forgot my password</a>
                </p>
                <p class="mb-0">
                    <a href="Register" class="text-center">No Account Yet? Register here</a>
                </p>
            </div>

        </div>

    </div>
</div>
