@{
    Layout = "_LayoutAnonymous";
    ViewBag.PageTitle = "Registration Successful";
}

<div class="alert alert-success alert-dismissible">
    <h5><i class="icon fas fa-check"></i> Registration Successful!</h5>
    Registration was successful. You may <a href="Login">Login Here</a>!
</div>